*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #121211;
    grid-area: header;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    a{
        color: #CFB645;
        text-decoration: none;
        font-size: 20px;
    }
    i{
        color: #CFB645;
        font-size: 20px;
        margin-left: 25px;
        margin-top: 15px;
    }
}
.aside1{
    grid-area: aside1;
}
main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1{
        color: #CFB645;
        margin-bottom: 50px;
    }
    #login{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #121211;
        width: 600px;
        height: 400px;
        border-radius: 25px;
        label{
            color: #d5d3ca;
            display: flex;
            margin-bottom: 4px;
            color: #d5d3ca;
        }
        input{
            border: none;
            outline: none;
            background-color: #CFB645;
            padding: 5px;
            border-radius: 10px;
            width: 225px;
            height: 25px;
        }
        input::placeholder{
            color: #645419;
        }
        span{
            color: #e5322a;
            font-size: 12px;
            display: none;
        }
        #icone-senha {
            position: absolute;
            color: #121211;
            margin-top: 25px;
            margin-left: 175px;
            cursor: pointer;
        }
    }
    .espacamento{
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    #entrar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 50px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: #CFB645;
        input{
            border: none;
            outline: none;
            background-color: #121211;
            color: #CFB645;
            padding: 5px;
            border-radius: 10px;
            width: 150px;
            height: 30px;
            padding: 5px;
            cursor: pointer;
            transition: all 0.5s;
            margin: 15px;
        }
        input:hover{
            opacity: 90%;
            transform: scale(1.03);
        }
    }
}
.aside2{
    grid-area: aside2;
}
footer{
    background-color: #121211;
    grid-area: footer;
    p{
        color: #CFB645;
        display: flex;
        justify-content: center;
        margin-top: 1.5%;
        text-decoration: underline;
    }
}
body{
    display: grid;
    grid-template-areas:
    "header header header"
    "aside1 main aside2"
    "footer footer footer";
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 10vh 80vh 10vh;
    background-color: #d5d3ca;
}